@import "tailwindcss";
@plugin "daisyui";

:root {
    --backgroundColor: #f1f0eb;
    --headerBackgroundColor: #F5F3EF;
    --bodyBlocColor1: #FAF9F7;
    --bodyBlocColor2: ##F5F3EF;
    --titleColor: #000000;
    --titleBookColor: #A6A6A6;
    --buttonColor1: #00AC66;
    --buttonColor2: #006D41;
    --buttonColor3: #F5F3EF;
    --status1: #6DC5A1;
    --status2: #C56D6D;
}


html,
body {
    max-width: 100vw;
    margin: 0;
    padding: 0;

}

.header {
    background-color: #F5F3EF;
}

.mobile-nav {
    padding: 20px 15px;
}

.h3 {
    font-family: 'Playfair Display';
    font-size: 30px;
    color: #292929;
}

.tomtroc-button {
    padding: 22px 38px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    margin: 0 auto;
    gap: 10px;
    opacity: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tomtroc-button.principal-green {
    background-color: var(--buttonColor1);
    color: #FFFFFF;
    transition: var(--buttonColor2);
    transition: scale(1.05) 300ms ease-out;
}

.tomtroc-button.secondary-green {
    background-color: var(--buttonColor2);
    color: #FFFFFF;

}

.tomtroc-button.grey {
    background-color: var(--buttonColor3);
    color: #00AC66;
    border: 1px solid #00AC66;
    transition: var(--buttonColor2);
    transition: scale(1.05) 300ms ease-out;

}

.status-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3.7px 13.31px;
    border-radius: 29.58px;
    gap: 7.4px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.88px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
}

.badge-dispo {
    background-color: var(--status1)
}

.badge-no-dispo {
    background-color: var(--status2)
}

.home {
    background-color: #F5F3EF;
}

.presentation.text {
    position: absolute;
    /* pour top/left */
    width: 337px;
    height: 95px;
    top: 707px;
    left: 18px;
    transform: rotate(0deg);
    /* angle */
    opacity: 1;

    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /* light */
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.concept {
    text-align: center;
    font-size: 14px;
    color: #292929;
}

.principaltxt {
    text-align: left;
    font-size: 14px;
    color: #292929;
}

.signature {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #A6A6A6;
}

/** 
 * Footer global de la page.
 */
footer {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    width: 149px;
    line-height: 15px;
    position: static;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: #292929;
    background-color: #FFFFFF;
    flex-direction: column;
}