@import "tailwindcss";
@plugin "daisyui";

:root {
    --backgroundColor: #FAF9F7;
    --headerBackgroundColor: #F5F3EF;
    --bodyBlocColor1: #FAF9F7;
    --bodyBlocColor2: ##F5F3EF;
    --titleColor: #000000;
    --labelColor: #A6A6A6;
    --buttonColor1: #00AC66;
    --buttonColor2: #006D41;
    --buttonColor3: #F5F3EF;
    --status1: #6DC5A1;
    --status2: #C56D6D;
    --fieldColor: #EDF2F6;
    --fieldBorderColor: #F0F0F0;
    --radius-box: 20px;
}


html,
body {
    max-width: 100vw;
    max-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 80px;

    @media (max-width: 767px) {
        padding-top: 56px;
    }

    .header {
        background-color: var(--headerBackgroundColor);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        min-height: 80px;

        @media (max-width: 767px) {
            height: 56px;
            min-height: 56px;
        }

        .navbar {
            background-color: inherit;
            height: 100%;
            padding: 0 150px;
            min-height: unset;

            @media (max-width: 767px) {
                padding: 0 20px;
            }
        }
    }



    main {
        flex: 1;
        background: var(--backgroundColor);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display';
            color: #292929;
        }

        h1 {
            font-size: 36px;

            @media(max-width: 767px) {
                font-size: 30px;
            }
        }

        .page-title {
            font-size: 26px;
            padding-left: 20px;

            @media(max-width: 767px) {
                font-size: 30px;
                max-width: 286px;
            }
        }

        .input,
        .textarea,
        .select {
            border-color: var(--fieldBorderColor);
            background-color: var(--fieldColor);
        }

        .textarea {
            field-sizing: content;
            resize: none;
        }

        .label {
            color: var(--labelColor);
        }

        .card {
            padding: 42px 40px;
        }
    }

    footer {
        width: 100%;
        height: 61px;
        min-height: 61px;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-weight: 300;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #292929;
        row-gap: unset;
        column-gap: 40px;
        background-color: white;
        padding-right: 51px;

        @media(max-width: 767px) {
            height: 185px;
            min-height: 185px;
            justify-content: center;
            flex-direction: column;
            column-gap: unset;
            row-gap: 20px;
            padding-right: 0px;
            padding-top: 31px;
            padding-bottom: 32px;
        }
    }
}



.btn.btn-link {
    text-decoration: none;
    height: auto;
}

.btn.btn-link>img {
    width: 8px;
    fill: var(--labelColor);
}

.btn.btn-link>span {
    font-size: 14px;
    width: 40px;
    height: 17px;
    line-height: 14px;
    color: var(--labelColor);
    font-weight: normal;
}

.tomtroc-button {
    padding: 22px 38px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    margin: 0 auto;
    gap: 10px;
    opacity: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tomtroc-button.principal-green {
    background-color: var(--buttonColor1);
    color: #FFFFFF;
    transition: var(--buttonColor2);
    transition: scale(1.05) 300ms ease-out;
}

.tomtroc-button.secondary-green {
    background-color: var(--buttonColor2);
    color: #FFFFFF;

}

.tomtroc-button.grey {
    background-color: var(--buttonColor3);
    color: #00AC66;
    border: 1px solid #00AC66;
    transition: var(--buttonColor2);
    transition: scale(1.05) 300ms ease-out;

}

.status-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3.7px 13.31px;
    border-radius: 29.58px;
    gap: 7.4px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 8.88px;
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
}

.badge-dispo {
    background-color: var(--status1)
}

.badge-no-dispo {
    background-color: var(--status2)
}

.home {
    background-color: #F5F3EF;
}

.presentation.text {
    position: absolute;
    /* pour top/left */
    width: 337px;
    height: 95px;
    top: 707px;
    left: 18px;
    transform: rotate(0deg);
    /* angle */
    opacity: 1;

    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /* light */
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.concept {
    text-align: center;
    font-size: 14px;
    color: #292929;
}

.principaltxt {
    text-align: left;
    font-size: 14px;
    color: #292929;
}

.signature {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #A6A6A6;
}